<section class="about-main">
	<div>
		<section>
			
		</section>
		<div class="about-header">
			<h3>About <span class="green-span">//</span></h3>
		</div>
		<h2 class="about-me-header no-margin">hi, i'm</h2>
		<p class="no-margin responsive-name-container"><img src="img/about/nader.png" alt="Nader" class="nd-name"><img src="img/about/dabit.png" alt="Dabit" class="nd-name"></p>
		<h2 class="about-me-header big-border-bottom no-margin">&amp;  i'm a software trainer and consultant</h2>

		<h4 class="about-me-sub no-margin">i specialize in consulting companies and teams on how to more effeciently implement and build cross platform applications</h4>
	
		<h4 class="about-me-sub no-margin" style="font-size: 22px;">check out my book <a target="_blank" href="https://www.manning.com/books/react-native-in-action" class="a-left" style="text-decoration: none; color:#00C09E ">react native in action</a> published by manning publications</h4>

		<h4 class="about-me-sub no-margin" style="font-size: 22px;">to learn more about my company, check out <a href="http://www.reactnative.training" class="a-left" style="text-decoration: none; color:#00C09E ">reactnative.training</a></h4>

		<h4 class="about-me-sub no-margin" style="font-size: 22px;"><a href="https://stackoverflow.com/users/2864119/nader-dabit" target="_blank" class="a-left" style="text-decoration: none; color:#00C09E">here</a> I am on stack overflow</h4>

		<h4  class="about-me-sub no-margin" style="font-size: 22px;"><a href="https://github.com/react-native-training" target="_blank" class="a-left" style="text-decoration: none; color:#00C09E ">check out</a> our open source</h4>

		<h4 class="about-me-sub no-margin" style="font-size: 22px;">i am currently available for hire as a trainer or consultant. to talk, please shoot me an email at <a href="mailto:dabit3@gmail.com" class="a-left" style="text-decoration: none; color:#00C09E ">dabit3@gmail.com</a></h4>

		<!--<div class="my-divider"></div>
		<div class="skills-container">
			<h3 class="about-me-h3">specialties</h3>
			<h5><span class="green-span">//</span> react</h5>
			<h5><span class="green-span">//</span> react native</h5>
			<h5><span class="green-span">//</span> ios dev</h5>
			<h5><span class="green-span">//</span> android dev</h5>
			<h5><span class="green-span">//</span> javascript</h5>
			<h5><span class="green-span">//</span> hybrid mobile</h5>
			<h5><span class="green-span">//</span> ui / ux</h5>
      <h5><span class="green-span">//</span> portable data layers</h5>
		</div>-->
		<!--<div class="skills-container responsive-break-float">
			<h3 class="about-me-h3 ">tools</h3>
			<h5><span class="green-span">//</span> sublime text</h5>
			<h5><span class="green-span">//</span> iterm</h5>
			<h5><span class="green-span">//</span> macbook pro</h5>
			<h5><span class="green-span">//</span> npm &amp; yarn</h5>
			<h5><span class="green-span">//</span> chrome developer tools</h5>
			<h5><span class="green-span">//</span> github</h5>
			<h5><span class="green-span">//</span> google</h5>
	  </div>-->
		
		<!--<div class="skills-container">
			<h3 class="about-me-h3">also</h3>
			<h5><span class="green-span">//</span> nodejs</h5>
			<h5><span class="green-span">//</span> ecommerce</h5>
			<h5><span class="green-span">//</span> a/b testing</h5>
			<h5><span class="green-span">//</span> phonegap / cordova</h5>
	  </div>

	  <div class="clearfix"></div>-->

	  <div class="my-divider"></div>
			

	  <div class="about-etc">
	  	<h3 class="about-me-etc" >what i'm reading</h3>
	  	<h5><span class="green-span">//</span> <a href="https://www.goodreads.com/book/show/8308501-hbr-s-10-must-reads-on-managing-yourself" target="_blank">hbr's 10 must reads on managing yourself</a></h5>
	  	<h5><span class="green-span">//</span> <a href="https://www.goodreads.com/book/show/13187824-abundance" target="_blank">abundance</a></h5>
	  	<h5><span class="green-span">//</span> <a href="https://www.goodreads.com/book/show/31338523-machine-learning-with-tensorflow" target="_blank">machine learning with tensorflow</a></h5>
	  	<h5><span class="green-span">//</span> <a href="https://www.goodreads.com/book/show/1873060.The_Go_Giver" target="_blank">the go giver</a></h5>

	  	<h3 class="about-me-etc" >recent &amp; upcoming conferences</h3>
	  	<h5><span class="green-span">//</span> <a href="http://www.jseverywhere.org/" target="_blank">jseverywhere 2013</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://ng-conf.org/" target="_blank">ng-conf 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://devnexus.com/s/index" target="_blank">devnexus 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://jsfest.com/" target="_blank">jsfest 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://fluentconf.com/fluent2014" target="_blank">fluentconf 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://2014.cssconf.com/" target="_blank">cssconf 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://jsconf.com/" target="_blank">jsconf 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://gothamgo.com/" target="_blank">gotham go 2014</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://www.ng-conf.org" target="_blank">ng-conf 2015</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://angularconnect.com/" target="_blank">angular connect 2015</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://www.reactrally.com/" target="_blank">react rally 2015</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://thepushconference.com/" target="_blank">push.conference 2015</a></h5>
	  	<h5><span class="green-span">//</span> <a href="http://forwardjs.com/" target="_blank">forwardjs 2016</a></h5>
	  	<h5><span class="green-span">//</span> <a href="https://www.react-europe.org/" target="_blank">react europe 2016</a></h5>
      <h5><span class='green-span'>//</span> <a href='http://www.reactrally.com/' target='_blank'>react rally 2016</a></h5>
      <h5><span class='green-span'>//</span> <a href='http://www.northeastjsconference.com/' target='_blank'>northeast javascript conference 2016</a></h5>
      <h5><span class='green-span'>//</span> <a href='http://empirenode.org/' target='_blank'>empire node 2016</a></h5>
      <h5><span class='green-span'>//</span> <a href='http://reactcamp.org/' target='_blank'>react camp 2016</a></h5>
      <h5><span class='green-span'>//</span> <a href='https://infinite.red/ChainReactConf' target='_blank'>chain react 2017</a></h5>

      <h5><span class='green-span'>//</span> <a href='http://conf.reactjs.org/' target='_blank'>react conf 2017</a></h5>

      <h5><span class='green-span'>//</span> <a href='https://react-native.eu/' target='_blank'>react native eu 2017</a></h5>
			<h5><span span class='green-span'>//</span> <a href="https://build.microsoft.com/" target="_blank">microsoft build 2017</a></h5>
	  </div>
	
	</div>
</section>