<section class="about-main">
	<div class="blog-main">
		<section>
			
		</section>
  
		<div class="blog-list-header">
      <h3>Blog <span class="green-span"> //</span></h3>
		</div>

		<h2><span class="green-span">//</span> <a href="https://www.youtube.com/watch?v=pFtvv0rJgPw" target="_blank">React Native - Cross Platform & Beyond (React Native EU)</a>&nbsp;&nbsp;<small style="opacity:.6">September 20, 2017</small></h2>
		
		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="http://slides.com/dabit3/react-native-for-web-developers-14/" target="_blank">React Native for Web Developers (Slides from my talk at KnowJS Conference in Wroclaw Poland)</a>&nbsp;&nbsp;<small style="opacity:.6">September 7, 2017</small></h2>
		
		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://t.co/ZgwOTuTSTa" target="_blank">React Native - Cross Platform &amp; Beyond (Slides from my talk at ReactNative.EU Conference)</a>&nbsp;&nbsp;<small style="opacity:.6">September 7, 2017</small></h2>
		
		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/react-animations-in-depth-433e2b3f0e8e" target="_blank">React Animations in Depth</a>&nbsp;&nbsp;<small style="opacity:.6">August 5, 2017</small></h2>

    <div class="my-full-divider"></div>
		

		<h2><span class="green-span">//</span> <a href="https://softwareengineeringdaily.com/2017/07/06/react-native-ecosystem-with-nader-dabit/" target="_blank">My interview on Software Engineering Daily</a>&nbsp;&nbsp;<small style="opacity:.6">July 6, 2017</small></h2>

    <div class="my-full-divider"></div>


		<h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/up-running-with-react-native-visual-studio-mobile-center-e3c95adbf650" target="_blank">Up & Running with React Native + Visual Studio Mobile Center</a>&nbsp;&nbsp;<small style="opacity:.6">June 26, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://devchat.tv/react-native-radio/adam-wolff-facebook-ryan-salva-microsoft-microsoft-build" target="_blank">Interview with Adam Wolff, Director of Fron End Engineering at Facebook, and Ryan Salva, Project Manager at Microsoft</a>&nbsp;&nbsp;<small style="opacity:.6">June 26, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/full-stack-react-native-development-using-graphcool-and-apollo-subscriptions-react-navigation-cdb3e1374c05" target="_blank">Full Stack React Native Development using GraphCool and Apollo Subscriptions + React Navigation</a>&nbsp;&nbsp;<small style="opacity:.6">June 23, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/meta-cli-creation-using-create-new-cli-15550e56fce6" target="_blank">Meta CLI Creation Using Create New CLI
		</a>&nbsp;&nbsp;<small style="opacity:.6">June 12, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/deep-linking-your-react-native-app-d87c39a1ad5e" target="_blank">Deep Linking in React Native</a>&nbsp;&nbsp;<small style="opacity:.6">May 16, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://devchat.tv/react-native-radio/leland-richardson-airbnb" target="_blank">Interview with Leland Richardson of Airbnb</a>&nbsp;&nbsp;<small style="opacity:.6">May 8, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/introducing-create-xp-app-adf047783497" target="_blank">Introducing Create XP App</a>&nbsp;&nbsp;<small style="opacity:.6">May 5, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/managing-react-state-with-resub-20ea57dee902" target="_blank">Managing React State with ReSub</a>&nbsp;&nbsp;<small style="opacity:.6">May 1, 2017</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/up-and-running-with-react-native-and-typescript-8d398e910a19" target="_blank">Up and Running with React Native and TypeScript</a>&nbsp;&nbsp;<small style="opacity:.6">April 29, 2017</small></h2>

		 <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://devchat.tv/react-native-radio/mobx-featuring-michel-westrate" target="_blank">Interview with MobX Creator Michael Weststrate</a>&nbsp;&nbsp;<small style="opacity:.6">April 10, 2017</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/reactxp-first-look-d3dd1d08febd" target="_blank">ReactXP — First Look</a>&nbsp;&nbsp;<small style="opacity:.6">April 8, 2017</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/mastering-the-camera-roll-in-react-native-13b3b1963a2d" target="_blank">Mastering the CameraRoll in React Native</a>&nbsp;&nbsp;<small style="opacity:.6">April 7, 2017</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/redux-4-ways-95a130da0cdc#.f6m9euqbc" target="_blank">Redux 4 Ways</a>&nbsp;&nbsp;<small style="opacity:.6">February 20, 2017</small></h2>

    <div class="my-full-divider"></div>

	  <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/the-cost-of-native-mobile-app-development-is-too-damn-high-4d258025033a#.s720xzawv" target="_blank">The Cost of Native Mobile App Development is Too Damn High!</a>&nbsp;&nbsp;<small style="opacity:.6">December 14, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/react-native-navigationexperimental-in-depth-6910b9b0b990#.vct0kp6hs" target="_blank">React Native NavigationExperimental in Depth</a>&nbsp;&nbsp;<small style="opacity:.6">December 8, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/getting-started-with-react-native-and-flow-d40f55746809#.4qwjysi1b" target="_blank">Getting Started with React Native and Flow</a>&nbsp;&nbsp;<small style="opacity:.6">November 8, 2016</small></h2>

    <div class="my-full-divider"></div>


    <h2><span class="green-span">//</span> <a href="https://medium.com/react-native-training/react-native-training-6a6e944e00a2#.7093ztmkc" target="_blank">React Native Training</a>&nbsp;&nbsp;<small style="opacity:.6">October 31, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-with-apollo-part-2-apollo-client-8b4ad4915cf5#.qonjpjfao" target="_blank">React Native with Apollo — Part 2, Apollo Client</a>&nbsp;&nbsp;<small style="opacity:.6">October 23, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-with-apollo-server-and-client-part-1-efb7d15d2361#.h509wlxeq" target="_blank">React Native with Apollo— Part 1, Apollo Server</a>&nbsp;&nbsp;<small style="opacity:.6">October 19, 2016</small></h2>

		<div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://devchat.tv/react-native-radio/41-react-native-for-windows-with-eric-rozell-of-microsoft" target="_blank">Interview with Eric Rozell of Microsoft</a>&nbsp;&nbsp;<small style="opacity:.6">October 3, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://devchat.tv/react-native-radio/40-navigation-in-react-native-with-eric-vicenti" target="_blank">Interview with Eric Vicenti of Facebook</a>&nbsp;&nbsp;<small style="opacity:.6">Sepember 20, 2016</small></h2>

    <div class="my-full-divider"></div>

		 <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-what-navigator-should-i-use-2ff59ec2b2d#.gam5vbuj7" target="_blank">React Native - which navigator should I use?</a>&nbsp;&nbsp;<small style="opacity:.6">Sepember 20, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/introducing-react-native-elements-e3d78389b7ea#.v039e9mks" target="_blank">Introducing React Native Elements</a>&nbsp;&nbsp;<small style="opacity:.6">Sepember 9, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/the-react-native-log/react-native-animations-using-the-animated-api-ebe8e0669fae#.oeddyoflb" target="_blank">React Native Animations Using the Animated API</a>&nbsp;&nbsp;<small style="opacity:.6">August 1, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-with-mobx-getting-started-ba7e18d8ff44#.h05rkyvfw" target="_blank">React Native with MobX — Getting Started</a>&nbsp;&nbsp;<small style="opacity:.6">July 1, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://itunes.apple.com/us/app/georgia-blue-mobile-app/id1071712315?mt=8" target="_blank">Georgia Blue iOS & iPad App Now Available in App Store</a>&nbsp;&nbsp;<small style="opacity:.6">June 20, 2016</small></h2>

    <div class="my-full-divider"></div>

     <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-navigator-experimental-part-3-adding-tabs-28a2c57356b6#.s247in5wq" target="_blank">React Native Navigator Experimental Part 3— Adding Tabs</a>&nbsp;&nbsp;<small style="opacity:.6">June 18, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-navigator-experimental-part-2-implementing-redux-c6acbf66eca1#.6fw8g9u0w" target="_blank">React Native Navigator Experimental Part 2 — Implementing Redux</a>&nbsp;&nbsp;<small style="opacity:.6">June 16, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/list-of-available-react-native-fonts-ed78b48bd45e#.g69uhgr5m" target="_blank">Available React Native Fonts</a>&nbsp;&nbsp;<small style="opacity:.6">May 26, 2016</small></h2>

    <div class="my-full-divider"></div>

    <h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/first-look-react-native-navigator-experimental-9a7cf39a615b#.8p7b9gptk" target="_blank">First look: React Native Navigator Experimental</a>&nbsp;&nbsp;<small style="opacity:.6">May 9, 2016</small></h2>

    <div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/building-an-image-browsing-app-with-realm-io-imgur-api-and-react-native-331b00297906#.atnyemlst" target="_blank">Building An Image Browsing App With Realm.io, Imgur API, and React Native</a>&nbsp;&nbsp;<small style="opacity:.6">April 6, 2016</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/beginner-s-guide-to-react-router-53094349669" target="_blank">Beginner’s Guide to React Router</a>&nbsp;&nbsp;<small style="opacity:.6">April 5, 2016</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/from-the-blues-to-rock-and-roll-mississippi-s-growing-tech-industry-5695a52f0768#.a2jw12xyx" target="_blank">From The Blues to Rock and Roll — Mississippi’s Growing Tech Industry</a>&nbsp;&nbsp;<small style="opacity:.6">March 11, 2016</small></h2>

		<div class="my-full-divider"></div>
		
		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/react-native-navigator-navigating-like-a-pro-in-react-native-3cb1b6dc1e30#.si2bpivm6" target="_blank">React Native Navigator — Navigating Like A Pro in React Native</a>&nbsp;&nbsp;<small style="opacity:.6">February 20, 2016</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/getting-up-to-speed-with-es6-classes-2382ef3efb9c#.mbmersjcx" target="_blank">Getting up to speed with ES6 Classes</a>&nbsp;&nbsp;<small style="opacity:.6">January 27, 2016</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/creating-a-custom-toast-module-for-react-native-770fd1c0dcf5#.hxhu6le4z" target="_blank">Creating A Custom Toast Module for React Native</a>&nbsp;&nbsp;<small style="opacity:.6">January 21, 2016</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/creating-an-animated-picker-for-react-native-a0785ad5a39c#.y2n3iq28e" target="_blank">Creating an animated Picker for React Native</a>&nbsp;&nbsp;<small style="opacity:.6">December 10, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/easily-preload-images-in-your-angular-app-9659640efa74#.lh6fc2slt" target="_blank">Easily preload images in your Angular app</a>&nbsp;&nbsp;<small style="opacity:.6">December 1, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/introduction-to-using-npm-as-a-build-tool-b41076f488b0#.ub6b6eq09" target="_blank">Introduction to Using NPM as a Build Tool</a>&nbsp;&nbsp;<small style="opacity:.6">October 28, 2015</small></h2>

		<div class="my-full-divider"></div>


		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/adding-custom-fonts-to-react-native-b266b41bff7f" target="_blank">Adding Custom Fonts to A React Native Application</a>&nbsp;&nbsp;<small style="opacity:.6">September 6, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://medium.com/@dabit3/beginner-s-guide-to-webpack-b1f1a3638460" target="_blank">Beginner's guide to webpack</a>&nbsp;&nbsp;<small style="opacity:.6">September 6, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="http://www.reactnative.com/building-a-native-ios-imgur-browser-in-javascript-with-react-native/" target="_blank">Hacking React Native - Building a native IOS Imgur Browser with JavaScript</a>&nbsp;&nbsp;<small style="opacity:.6">July 28, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="http://slides.com/dabit3/deck-5" target="_blank">React Native - Presentation on building Native Mobile Apps in JavaScript</a>&nbsp;&nbsp;<small style="opacity:.6">July 28, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="http://slides.com/dabit3/deck-4" target="_blank">Full Stack App Development with the MEAN Stack &amp; Loopback</a>&nbsp;&nbsp;<small style="opacity:.6">May 26, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://github.com/dabit3/restaurant-dashboard" target="_blank">Full stack app returning configurable JSON API using NodeJS &amp; AngularJS</a>&nbsp;&nbsp;<small style="opacity:.6">April 30, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://github.com/dabit3/angular-webpack" target="_blank">Angular + Webpack Boilerplate</a>&nbsp;&nbsp;<small style="opacity:.6">March 19, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a ui-sref="angulardirectives1" >Angular Directives with jQuery - Part 1</a>&nbsp;&nbsp;<small style="opacity:.6">March 18, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a href="https://github.com/dabit3/chatter" target="_blank">Starter Chat Application Framework W/Authentication (Built with Ionic, Firebase, &amp; Auth0) </a>&nbsp;&nbsp;<small style="opacity:.6">February 22, 2015</small></h2>

		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a ui-sref="ionicone" >Mobile App Development With Ionic Framwork </a>&nbsp;&nbsp;<small style="opacity:.6">October 17, 2014</small></h2>


		<div class="my-full-divider"></div>

		<h2><span class="green-span">//</span> <a ui-sref="greensock" >Javascript Animations With Greensock </a>&nbsp;&nbsp;<small style="opacity:.6">September 29, 2014</small></h2>

		<div class="my-full-divider"></div>
		

	
	</div>
</section>