<h4>My EzSchedule</h4>
<nav>
	<ul class="nd-inline-block nd-list-none basic-nav">
		<a ui-sref="index.shots.ezschedule.one"><li>One</li></a>
		<a ui-sref="index.shots.ezschedule.two"><li>Two</li></a>
		<a ui-sref="index.shots.ezschedule.three"><li>Three</li></a>
		<a ui-sref="index.shots.ezschedule.four"><li>Four</li></a>
	</ul>
</nav>
	<ul class="nd-inline-block nd-list-none nd-ddd display-list">
		<li><span class="green-span">//</span> Site Design</li>
	</ul>
<div class="animation-container">
    <div ui-view class="ui-animate" ng-controller="EzscheduleController"></div>
</div>