<div class="sites-page responsive-sites">
	<section>
		<div class="portfolio-shots">
			<h3>Portfolio <span class="green-span">//</span> Sites</h3>
		</div>
		<div class="site-list">
			
			<h2><span class="green-span">//</span> <a href="http://codesouthlabs.com" target="_blank">CodeSouthLabs</a></h2>
			<p>Coding classes for Mississippi</p>
			<div class="my-full-divider"></div>

			<h2><span class="green-span">//</span> <a href="http://naderdabit.me/wirki" target="_blank">Wirki</a></h2>
			<p>Developed site and user interface, responsive desktop &amp; mobile site. Also helped with original design.</p>
			<div class="my-full-divider"></div>


			<h2><span class="green-span">//</span> <a href="http://developers.ms" target="_blank">Developers.ms</a></h2>
			<p>Website for our local meetup group, Jackson Area Web &amp; App Developers</p>
			<div class="my-full-divider"></div>

			<h2><span class="green-span">//</span> <a href="http://m.jhcfw.com" target="_blank">Jackson Healthcare for Women</a></h2>
			<p>Mobile site for Jackson Healthcare for Women</p>
			<div class="my-full-divider"></div>
			
			<h2><span class="green-span">//</span> <a href="http://connect-technology.net/testing/confluent-mobile/index.html" target="_blank">Confluent Media</a></h2>
			<p>Mobile site for Confluent Media India</p>
			<div class="my-full-divider"></div>


			<h2><span class="green-span">//</span> <a href="http://oil-gas-platform.com/" target="_blank">Oil-Gas-Platform</a></h2>
			<p>Designed and built site to market Oil &amp; Gas Platform for client.</p>
			<div class="my-full-divider"></div>
			
			<h2><span class="green-span">//</span> <a href="http://connect-technology.net/" target="_blank">Connect Technology</a></h2>
			<p>Designed and built site to market Connect Technology, implemented site in HTML, CSS, JavasScript, &amp; PHP. Site implemented by other developer into Umbraco</p>
			<div class="my-full-divider"></div>
			
			<h2><span class="green-span">//</span> <a href="http://firstgraphix.com/" target="_blank">First Graphix</a></h2>
			<p>Redesigned website.</p>
			<div class="my-full-divider"></div>

			<h2>
				<span class="green-span">//</span>
				<a href="https://github.com/dabit3/seo-portal" target="_blank">SEO Portal</a>
			</h2>
			<h2>** Demo, still in production ** <span class="green-span"></span> U: kenny P: password</h2>
			<p>SEO Dashboard for client information</p>
			<div class="my-full-divider"></div>

			<h2><span class="green-span">//</span> <a href="http://mobile.hbam.com/" target="_blank">Homebuilders Association of America Mobile Site</a></h2>
			<p>Designed and developed basic mobile site to complement their original site.</p>
			<div class="my-full-divider"></div>

			<!-- <h2><span class="green-span">//</span> <a href="http://naderdabit.me/testing/onsite/" target="_blank">On Site Fuel Services Mobile Site</a></h2>
			<p>Designed and developed basic mobile site to complement their original site.</p>
			<div class="my-full-divider"></div> -->

			<!-- <h2><span class="green-span">//</span> <a href="http://m.confluent-media.com/" target="_blank">Integrated Media India Mobile Site</a></h2>
			<p>Designed and developed basic mobile site to complement their original site.</p>
			<div class="my-full-divider"></div> -->

			<h2><span class="green-span">//</span> <a href="https://github.com/dabit3/angular-recipe-app" target="_blank">Picken IOS App</a></h2>
			<h2>** Still in production **</h2>
			<p>Paleo chicken recipe app - IOS </p>
			<div class="my-full-divider"></div>

			<h2><span class="green-span">//</span> <a href="http://m.terryservice.com/" target="_blank">Terry Trane</a></h2>
			<p>Designed and developed basic mobile site to complement their original site.</p>
			<div class="my-full-divider"></div>

			

			<!-- <h2><span class="green-span">//</span> <a href="http://www.graviity.com" target="_blank">Graviity</a></h2>
			<p>The old marketing site for my consulting company.</p>
			<div class="my-full-divider"></div> -->

		</div>

	</section>
</div>