<h3 style="text-align:center;margin-bottom:0px;">Georgia Blue API</h3><br />

<ul class="collection">
	<li class="collection-item"><a href="#/menu"><b>Menu</b></a></li>
	<li class="collection-item"><a href="#/appetizers">Appetizers</a></li>
	<li class="collection-item"><a href="#/salads">Salads</a></li>
	<li class="collection-item"><a href="#/pastas">Pastas</a></li>
	<li class="collection-item"><a href="#/entrees">Entrees</a></li>
	<li class="collection-item"><a href="#/sandwichesandbaskets">Sandwiches and Baskets</a></li>
	<li class="collection-item"><a href="#/desserts">Desserts</a></li>
	<li class="collection-item"><a href="#/blueplates">Blue Plates</a></li>
	<li class="collection-item"><a href="#/drinks"><b>Drinks</b></a></li>
	<li class="collection-item"><a href="#/music"><b>Music</b></a></li>
</ul>