<div>
	<h4>Menu Items</h4>
	<a href="#/">Back to Main Menu</a>
<ul class="collection">
	<li class="collection-item"><a href="#/appetizers">Appetizers</a></li>
  <li class="collection-item"><a href="#/salads">Salads</a></li>
  <li class="collection-item"><a href="#/pastas">Pastas</a></li>
  <li class="collection-item"><a href="#/entrees">Entrees</a></li>
	<li class="collection-item"><a href="#/sandwichesandbaskets">Sandwiches &amp; Baskets</a></li>
	<li class="collection-item"><a href="#/desserts">Desserts</a></li>
	<li class="collection-item"><a href="#/blueplates">Blue Plates</a></li>
</ul>     
</div>