<div class="center">
	<h4>Bridgers Smith</h4>
</div>
<nav>
	<ul class="nd-inline-block nd-list-none basic-nav">
		<a ui-sref="index.shots.bridgerssmith.one" ><li >One</li></a>
		<a ui-sref="index.shots.bridgerssmith.two" ><li  >Two</li></a>
		
	</ul>
</nav>
<ul class="nd-inline-block nd-list-none nd-ddd display-list">
		<li><span class="green-span">//</span> Logo Design</li>
		<li><span class="green-span">//</span> Site Design</li>
	</ul>
<div class="animation-container">
    <div ui-view class="ui-view-enter ui-animate"></div>
</div>