<div class="center">
	<h4>Oil &amp; Gas Platform</h4>
</div>
<nav>
	<ul class="nd-inline-block nd-list-none basic-nav">
		<a ui-sref="index.shots.ogp.one" ><li >One</li></a>
		<a ui-sref="index.shots.ogp.two" ><li >Two</li></a>
		<a ui-sref="index.shots.ogp.three" ><li >Three</li></a>
		<a ui-sref="index.shots.ogp.four" ><li >Four</li></a>
		<a ui-sref="index.shots.ogp.five" ><li >Five</li></a>
		<a ui-sref="index.shots.ogp.six" ><li >Six</li></a>
		<a ui-sref="index.shots.ogp.seven" ><li >Seven</li></a>
	</ul>
</nav>
<ul class="nd-inline-block nd-list-none nd-ddd display-list">
	<li><span class="green-span">//</span> Logo Design</li>
	<li><span class="green-span">//</span> Site Design</li>
	<li><span class="green-span">//</span> Mobile Design</li>
</ul>
<div class="animation-container">
    <div ui-view class="ui-view-enter ui-animate"></div>
</div>