<div ng-controller="BlogCtrl" class="main-container">
	<section class="blog-container">
		<div class="blog-content">
			<h3>Javascript Animations with Greensock | Introduction</h3>
			<h4>What is Greensock?</h4>
			<p>- commonly referred to as GSAP (Greensock Animation Plugin)</p>
			<p>- simple &amp; intuitive</p>
			<p>- cross-browser compatible</p>
			<p>- no vendor prefixes needed</p>
			<p>- CSS3 transitions &amp; animations don't work in IE9; GSAP does</p>
			<p>- animate single object, arrays, or selector objects </p>
			<p>- pause(), play(), repeat, yoyo, restart(), seek(), reverse() entire sequences on the fly</p>
			<a ui-sref="pageone" ><div class="blog-nav" ng-click="ScrollTop()">next</div></a>
		</div>
	</section>
</div>