<div ng-controller="BlogCtrl" class="main-container">
	<section class="blog-container">
		<div class="blog-content">
		
		<h4>SplitText</h4>
		<div class="codepen">
			<iframe src="http://codepen.io/dabit3/embed/eGpfb" frameborder="0"></iframe>
		</div>

		<h4>SplitText</h4>
		<div class="codepen">
			<iframe src="http://codepen.io/dabit3/embed/BjHgy" frameborder="0"></iframe>
		</div>

		<h4>SplitText</h4>
		<div class="codepen">
			<iframe src="http://codepen.io/dabit3/embed/lBdsA" frameborder="0"></iframe>
		</div>

		<h4>ScrambleText</h4>
		<div class="codepen">
			<iframe src="http://codepen.io/dabit3/embed/hwBDp" frameborder="0"></iframe>
		</div>

		<h4>Twitter: <a href="https://twitter.com/dabit3" target="_blank">@dabit3</a></h4>

		<a ui-sref="pagefour"><div class="blog-nav" ng-click="ScrollTop()">prev</div></a>

		</div>
	</section>
</div>