<div ng-controller="BlogCtrl" class="main-container">
	<section class="blog-container">
		<div class="blog-content">
			<h3>Javascript Animations with Greensock | Page One</h3>
			<h4>Main Libraries</h4>
			<p class="disabled">- <a href="http://greensock.com/tweenlite" target="_blank">TweenLite</a></p>
			<p class="disabled">- <a href="http://greensock.com/tweenmax" target="_blank">TweenMax</a></p>
			<p class="disabled">- <a href="http://greensock.com/timelinelite" target="_blank">Timelinelite</a></p>
			<p class="disabled">- <a href="http://greensock.com/timelinemax" target="_blank">TimelineMax</a></p>
			<div class="my-full-divider"></div>
			<h4>Plugins</h4>
			<p class="disabled">- <a href="http://greensock.com/AttrPlugin" target="_blank">AttrPlugin</a></p>
			<p class="disabled">- <a href="http://greensock.com/DirectionalRotationPlugin" target="_blank">DirectionalRotationPlugin</a></p>
			<p class="disabled">- <a href="http://greensock.com/Physics2DPlugin" target="_blank">Physics2DPlugin</a></p>
			<p class="disabled">- <a href="http://greensock.com/PhysicsPropsPlugin" target="_blank">PhysicsPropsPlugin</a></p>
			<p class="disabled">- <a href="http://greensock.com/ScrambleTextPlugin" target="_blank">ScrambleTextPlugin</a></p>
			<p class="disabled">- <a href="http://greensock.com/SplitText" target="_blank">SplitText</a></p>

			<div class="my-full-divider"></div>
			<h4>Similar to Greensock</h4>
			<p class="disabled">- <a href="https://famo.us/" target="_blank">Famo.us</a></p>
			<p class="disabled">- <a href="http://www.createjs.com/#!/TweenJS" target="_blank">CreateJS - TweenJS</a></p>
			<p class="disabled">- <a href="http://julian.com/research/velocity/" target="_blank">Velocity.js</a></p>
			<p class="disabled">- <a href="http://threejs.org/" target="_blank">Three.js</a></p>
			<p class="disabled">- <a href="http://jquery.com/" target="_blank">jQuery</a></p>
	
			<a ui-sref="greensock"><div class="blog-nav" ng-click="ScrollTop()">prev</div></a>
			<a ui-sref="pagetwo"><div class="blog-nav" ng-click="ScrollTop()">next</div></a>
		</div>
	</section>
</div>