<div ng-controller="BlogCtrl" class="main-container">
	<section class="blog-container">
		<div class="blog-content">
			<h3>Tweenmax Examples</h3>
			<h4>Animating Width Of An Element With TweenMax</h4>					
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/GaHjB" frameborder="0"></iframe>
			</div>

			<h4>Animating Multiple Items</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/Ezyor" frameborder="0"></iframe>
			</div>

			<h4>Unordered List Menu with Smooth Hover Animations</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/eGIbF" frameborder="0"></iframe>
			</div>

			<h4>Animated Dropdown Menu with Marka + Greensock</h4>
			<p><a href="https://github.com/fians/marka" target="_blank">marksjs</a></p>
			<p><a href="http://fian.my.id/marka/" target="_blank">markajs demo</a></p>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/ipbAy" frameborder="0"></iframe>
			</div>

			<h4>Staggering Animations</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/bJarc" frameborder="0"></iframe>
			</div>

			<h4>Basic Button Slider With Tweenmax</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/bigpv" frameborder="0"></iframe>
			</div>

			<h4>Basic Automatic Slider With Tweenmax</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/FsdpA" frameborder="0"></iframe>
			</div>

			<h4>Continuous Animation</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/fjmEg" frameborder="0"></iframe>
			</div>

			<h4>Animating With Keyboard Input</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/IvHEw" frameborder="0"></iframe>
			</div>
				



			<a ui-sref="pagetwo"><div class="blog-nav" ng-click="ScrollTop()">prev</div></a>
			<a ui-sref="pagefour"><div class="blog-nav" ng-click="ScrollTop()">next</div></a>
		</div>
	</section>
</div>