<div ng-controller="BlogCtrl" class="main-container">
	<section class="blog-container">
		<div class="blog-content">
			<h3>TimelineLite &amp; TimelineMax Examples</h3>
			<p class="disabled">Available Functions:</p>
			<div class="code">
				<section>
					to()<br />
					from()<br />
					staggerTo()<br />
					staggerFrom()<br />
					add()<br />
					play()<br />
					stop()<br />
					seek()<br />
					restart()<br />
					reverse()<br />
					progress(value)<br />
				</section>
			</div>

			<h4>Timeline</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/Lzwkc" frameborder="0"></iframe>
			</div>
			
			<h4>TimelineMax </h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/Izihu" frameborder="0"></iframe>
			</div>

			<h4>TimelineMax staggerFrom() &amp; staggerTo()</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/pfaCr" frameborder="0"></iframe>
			</div>

			<h4>Using TimelineMax on page Load</h4>
			<div class="codepen">
				<iframe src="http://codepen.io/dabit3/embed/gxHLd" frameborder="0"></iframe>
			</div>

			<a ui-sref="pagethree"><div class="blog-nav" ng-click="ScrollTop()">prev</div></a>
			<a ui-sref="pagefive"><div class="blog-nav" ng-click="ScrollTop()">next</div></a>
		</div>
	</section>
</div>